.bio{		
	min-height: 51.5625em;
	padding-top: 125px;
	text-align: center;
	margin-bottom: 20%; 
	color: #777777;
	     
}
  
.bio-head {  
	width: 100%;
	margin-bottom: 1.25em;
}  
    
.bio-h2{
	font-size: calc(18px + 2vw);
	color: rgb(93 93 93);
}
  
.bio-text {	
	font-size: 16px;	
	color: #777777;
	max-width: 500px;
	width: 100%;
	margin: 28px auto;  
}
    
.cuadros{	
	min-height: 482px;	
	margin: 0 auto;	
	display: flex;  	
	align-items: center;	
	position: relative; 
	top: 60px; 		
} 
 
.cuadrosParrafos{
  padding-top: 42px;
  font-size: 1em;
}
  
.cuadro1{	  
	min-height: 436px;
	max-width: 403px;
	padding: 80px 40px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
	background-color: white;
	color: #777777;
  border-radius: 12px;  	
}
  
.cuadro2{  		
	min-height: 420px;
	max-width: 403px;
	padding: 75px 40px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
	background-color: #7bb0e7;
	background: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
	
	z-index: 4;
	color: rgb(235, 235, 235);
	border-radius: 12px;			
}
  
.cuadro3{	  
	min-height: 436px;
	max-width: 403px;
	padding: 80px 40px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
	background-color: white;
	color: #777777;
	border-radius: 12px;
}