
/* --- laptop HiDPI 1440px --- */
@media screen and (max-width: 1440px){
.container {
  max-width: 1150px;
}
}

@media screen and (max-width: 1280px){
.container {
  max-width: 1150px;
}
}


@media screen and (max-width: 1150px){
.container {
  max-width: 1024px;
}
  
  }

@media screen and (max-width: 1024px){
.container{
  max-width: 960px;
}

  } 

@media screen and (max-width: 990px){
  .container {
    max-width: 850px;
  }
}  


/* ::: 990px devices ::: */
@media screen and (max-width: 960px){
.container {
	max-width: 834px;
}
	
.header-section {
	background-color: black;
	height: 75px;
}

.main-navigation {
	display: none;
}

.main-actigation-active {
  display: block;
}
#icon-menu {
  display: block;
  width: 60px;
  height: 60px;
  border: 0;
  padding: 1rem;  
  font-size: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;  
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  position: fixed;
  bottom: 3.5rem;
  right: 0.6rem;  
  z-index: 5;
  animation-duration: 3s;
  animation-name: fade;
}

.menu-active {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16%;
  
  text-align: center;  
  font-weight: 800;
  font-size: calc(22px + 2vw);
  text-transform: uppercase;  
  position: fixed;
  top: 0;
  bottom: 0;  
  z-index: 4;
  height: auto;
  width: 100vw;  
  background: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);    
  }
  .burger-logo {  
    align-items: center;
    animation-duration: 3s;
    animation-name: fade;    
    
    right: 50px;
    bottom: 60px;
  }
  
  .burger-logo img {
    height: 20px;
    animation-duration: 3s;
    animation-name: fade; 
  }  

.movement {  
  clip-path: circle(86.8% at 86% 52%);
}

.fa-fingerprint{
  color: linear-gradient(0deg, #766dff 0%, #88f3ff 100%);  
  
}

.main-ol {
  display: flex;
  flex-direction: column;  
}

.main-logo {
	display: inherit;
	margin: 0 auto;
}
	
.main-logo img {
	height: 50px;
}
	
.hero {
	bottom: -120px;
}
	
.flex-hero {
  flex-direction: column;
}
	
.hero-text {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;	
	position: static;	
}	
/* ---- about area ---- */	
.about-content {  
  padding: 30px;  
}

.about-section {
  padding-top: 20%;
}
.aboutMe-title {
  text-align: left;
}
.aboutMe-description {
  width: 85%;
  text-align: left;
}

.skill-wrapper {
  width: 100%;
  padding-top: 0;
}

.skills-title {
  text-align: center;
}
  

/* --- bio area ---- */
.cuadros {		
	width: 100%;
	flex-direction: column-reverse;		
	margin: 0%;	
}
	
	
  }


/* --- 834px devices -- */
@media screen and (max-width: 834px){
.container {
  max-width: 720px;
}

.bio {
  padding: auto;
}

.cuadros {		
  width: 100%;
  flex-direction: column-reverse;		
  margin: 0%;
  
}

.cuadro1 {
  flex: 100%;
  width: 100%;
  
}
  
.cuadro2 {	
  width: 100%;

}
  
  
.cuadro3 {
  width: 100%;
}
      
    }



@media screen and (max-width: 720px){
.about-section {
  padding-top: 28%;
}

.about-content {
  flex-direction: column;
  padding: 30px;     
}
.aboutMe-title {
  text-align: center;
}
.aboutMe-description {
  width: 100%;
  text-align: center;
}

.skill-wrapper {
  width: 100%;
  padding-top: 10%;
}

.skills-title {
  text-align: center;
}

.main-footer {
  flex-direction: column;
}
  
}


/* ---- 480px devices ----- */
@media screen and (max-width: 480px){
/* --- hero area --- */
.hero {
  bottom: -60px;
}

/*    ----- About section --- */
.about-section {
	padding-top: 30%;		
}
	 
.about-content {
  display: block;  
  padding: 30px;
  margin-bottom: 1em;
  
}

.aboutMe {
  width: 100%;
}

.aboutMe-title {
  text-align: center;
}

.aboutMe-description {
  width: 100%;  
}

.skill-wrapper {
  width: 100%;
  padding-top: 10%;
}

.skills-title {
  text-align: center;
}

/* --- experience area --- */ 


.buttom1 {
  position: relative;
  right: 10%;
}
/* --- bio area ---- */
.bio-text {  
  padding: 15px;
}


/* ... footer area ... */

.main-footer {
  margin-top: 40%;
  flex-direction: column;
  
}

.jobsList {
  padding-left: 56.5px;
}
  
  }
  
@media screen and (min-width: 480px){
.cuadro2{
  transform: scale(1.1);	
}

.buttom1 {
  position: relative;
  right: 40px;
}

.jobsList {
	min-height: 628px; 	
	width: 100%;	
}

.jobItem-content-video {
	padding-left: 15px;
}







}



/* ::: 375px devices ::::: */ 

@media screen and (max-width: 375px){
.container {
  max-width: 375px;
}  

.main-logo {
	margin-left: 80px;
	margin-right: 80px;
}

.hero {
	bottom: -60px;
	border-radius: 0 0 12px 12px;		
	padding: 40px 40px 0 40px;
}

.flex-hero {  	
	flex-direction: column;	
	padding: 0;	
	position: relative;	
}

.hero-text 	{
	margin: 0;
	padding: 0;
}
	
.hero-image img {
	width: 100%;  
	height: 100;
}

.hero-text {
	margin-top: 30px;
}	

.hero-text h1 {
	font-size: 45px;
	text-align: center;
	margin-bottom: 20px;	
}

.hero-text h6 {
	text-align: center;
	font-size: 16px;
}

.hero-text h2 {
	text-align: center;
	font-size: 18px;
}

.hero-text p {
	text-align: center;
}

.contactInfo li {
	text-align: center;	
}


/*    ----- About section --- */
.about-section {
	padding-top: 20%;		
}
	
.about-content {
  display: block;
  margin-bottom: 1em;   
}

.aboutMe {
  width: 100%;
}

.skill-wrapper {
  width: 100%;
}


/* ----- Experience Section ----- */

.experienceContainer {
	width: 100%;
	height: 682px;
	margin-top: 26px;
	margin-left: auto;
	margin-right: auto;  
	color: rgba(255, 255, 255, 0.75);
}

.buttom1 { 
  position: relative;
  left: 2%;
}

.containerButtoms {
	width: 100%;
	display: flex;	
	justify-content: space-around;
	margin-bottom: 0;
}

.jobItem { 
  width: 100%;
 
  
}

.jobsList {
  width: 100%;  
  padding-left: 0;
}

.jobsList-1 {  
  width: 100%;
}



/* ----- SEO Section ------ */

.cuadros {
	flex-wrap: wrap;
}

.cuadro1 {
	width: 100%;
}

.cuadro2 {
	width: 100%;
}

   } 



















