.container {
  max-width: 720px;
}

.bio {
  padding: auto;
}

.about__section {
  min-height: 95rem;
}

.about__container {
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-columns: 35rem;
  gap: 8rem;
  justify-content: center;
}

.main-footer {
  flex-direction: column;
}
