@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  /*font-family: 'GlacialIndifferenceRegular';*/
  font-family: roboto;
  line-height: 1.625em;
}

.container {	  
	height: inherit;
	width: 100%;
	max-width: 71.875em;
	margin-left: auto;
  margin-right: auto;  
	display: inherit;
	justify-content: inherit;  
}

.header-section {
  height: 120px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;  
}

.header {
  display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	height: inherit;
}

/* -- Main Area --- */
.main-navigation {
  height: inherit;
}

.main-ol {
  height: inherit;
  display: flex;  
  list-style: none;
  align-items: center;  
}

.main-ol li {
   margin-right: 3.5em;
}

.main-ol a {
  text-decoration: none;
  color: white;
}

.main-logo {  
  display: inherit;
  align-items: center;
}

.main-logo img {
  height: 70px;
}

#icon-menu { display: none; }


/*     -----  Main Section ----       */
/*     -----  Main Section ----       */
/*     -----  Main Section ----       */

.main-section {
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  width: 100%;
}

.hero {  
  background-color: white;
  border-radius: 12px;
  position: relative;
  bottom: -200px;  
  width: 100%;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);   
}

.flex-hero {  
  display: flex;  
  width: 100%;  
  padding: 30px;     
}

.hero-image {
  width: 100%;
  height: auto;  
}

.hero-image img {
  width: 100%;  
  height: auto;
  border-radius: 8px;  
}

.hero-text {   
  width: 100%;  
  margin-bottom: 100px;  
  padding: 30px;
  vertical-align: middle;
  align-self: center;
  position: relative;
  left: 55px;
  color:  #777777;
  
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.hero-text h6 {
  font-size: 14px;
}

.hero-text p {
  margin-bottom: 40px;
  font-size: 18px;  
  width: 95%;  
}

.contactInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 30px;
}

.contactInfo li {
  list-style: none;
  margin-top: 20px;  
}

.contactInfo a {
  text-decoration: none;
  color:  #777777;
  font-size: 14px;  
}


/* ---- footer area --- */


.main-footer {
  display: flex;
  min-height: 4em;
  background-color: black;
  width: 100%;  
  color: rgb(219, 219, 219);   
  border-radius: 12px 12px 0 0;
  font-size: 14px;
}

.footer1 {
  height: inherit;
  width: 100%;
  flex: 50%;  
  text-align: center;
  padding: 1em;     
 
}

.footer2 {
  height: inherit;
  width: 100%;
  flex: 50%;  
  text-align: center;
  padding: 1em;
  
  
}
