 @font-face {
  font-family: 'GlacialIndifferenceRegular';
  src: url(../fonts/GlacialIndifference-Regular.woff) format("woff"),
       url(../fonts/GlacialIndifference-Regular.woff2) format("woff2"),
       url(../fonts/GlacialIndifference-Bold.woff) format("woff"),
       url(../fonts/GlacialIndifference-Bold.woff2) format("woff2");     
  
} 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html { scroll-behavior: smooth; }
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'GlacialIndifferenceRegular';
  line-height: 1.625em;  
}

body h1, h2 {
  letter-spacing: 1px;
}

.container {	  
	height: inherit;
	width: 100%;
	max-width: 71.875em;
	margin-left: auto;
  margin-right: auto;  
	display: inherit;
	justify-content: inherit;  
}

.scrolling {
  opacity: 0;
  transition: all 0.9s;
}

.showTop {
  animation: showTop;
}

@keyframes showTop {
  0% {
    transform: translateX(70px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translate(100%);
  }
}

.header-section {
  height: 120px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;  
}

.stickyHeader {
  position: sticky;
  background-color: black;
  
  border: none; 
  height: 100px;  
}

.header {
  display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	height: inherit;
}

/* -- Main Area --- */
.main-navigation {
  height: inherit;
}

.main-ol {
  height: inherit;
  display: flex;  
  list-style: none;
  align-items: center;
  animation-duration: 3s;
  animation-name: fade;   
}

.main-ol li {
   margin-right: 3.5em;
}

.main-ol a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main-logo {  
  display: inherit;
  align-items: center;
  animation-duration: 3s;
  animation-name: fade; 
}

.main-logo img {
  height: 70px;
  animation-duration: 3s;
  animation-name: fade;  
}

#icon-menu { display: none; }


/*     -----  Main Section ----       */
/*     -----  Main Section ----       */
/*     -----  Main Section ----       */



.main-section {
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  width: 100%;
  

  
}

#particles-js {
  width: 100vw;
  height: 100%;
  position: fixed;
  
  
}

.hero {  
  background-color: white;
  border-radius: 5px;
  position: relative;
  bottom: -200px;  
  width: 100%;
  box-shadow: 0 4px 16px rgba(32,33,36,.16);     
}

.carrusel {
  animation-duration: 3s;
  animation-name: carrusel; 
}

@keyframes carrusel {
  0% {
    transform: translateX(70px);
  }

  100% {
    transform: translateX(0);
  }
}

.carrusel-left {
  animation-duration: 3s;
  animation-name: carrusel-left; 
}

@keyframes carrusel-left {
  0% {
    transform: translateX(-70px);
  }

  100% {
    transform: translateX(0);
  }
}


.flex-hero {  
  display: flex;  
  width: 100%;  
  padding: 30px;
  animation-duration: 3s;
  animation-name: fade;      
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-image {
  width: 100%;
  height: auto;  
}

.hero-image img {
  width: 100%;  
  height: auto;
  border-radius: 8px;  
}

.hero-text {   
  width: 100%;  
  margin-bottom: 100px;  
  padding: 30px;
  vertical-align: middle;
  align-self: center;
  position: relative;
  left: 55px;
  color:  #777777;  
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.hero-text h6 {
  font-size: 14px;
}

.hero-text p {
  margin-bottom: 40px;
  font-size: 18px;  
  width: 95%;  
}

.contactInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 30px;
}

.contactInfo li {
  list-style: none;
  margin-top: 20px;  
}

.contactInfo a {
  text-decoration: none;
  color:  #777777;
  font-size: 14px;  
}


/* ---- footer area --- */


.main-footer {
  display: flex;
  min-height: 4em;
  background-color: rgb(240, 240, 240);
  width: 100%;  
  color:#b8b8b8;   
  border-radius: 12px 12px 0 0;
  font-size: 14px;
  animation-duration: 3s;
  animation-name: fade;
}

.footer1 {
  height: inherit;
  width: 100%;
  flex: 50%;  
  text-align: center;
  padding: 1em;     
 
}

.footer2 {
  height: inherit;
  width: 100%;
  flex: 50%;  
  text-align: center;
  padding: 1em;
  
  
}
